
.cell {
  width: 15;
  height: 15;
  stroke: #222;
}

#fileElem {
  display: none;
}

.tooltip { 
  position: absolute; 
  text-align: left;
  background: white;
  opacity: 0.9;
  border: 0px;
  pointer-events: none;
  align-items: center;
  vertical-align: center;
  position: absolute;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}